.module {
  @extend .card;

  @include mq(md) {
    width: calc(100% + 50px);
    margin-left: 0;
    margin-right: 0;
    max-width: none;
  }

  .module-days {
    grid-template-columns: minmax(100px, 1fr) 4fr;

    @include mq(lg) {
      grid-template-columns: minmax(150px, 1fr) 7fr;
    }
  }
}

.event-links {
  margin-top: 2px;
  margin-left: 80px;
  line-height: 1.5;
}

.event-links .btn {
  margin-right: 5px;
  margin-bottom: 5px;
}

.expandable-code-btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.code-links-expanded {
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0px;
  line-height: 1.4;
}

.code-links-expanded a {
  color: #0066cc;
  text-decoration: none;
  font-size: 1em;
}

.code-links-expanded a:hover {
  text-decoration: underline;
}

.btn-sm {
  font-size: 0.6rem;
  padding: 0.25rem 0.5rem;
}

.module-date {
  @extend .card-header;
}

.module-header {
  @extend .card-header;
}

.module-body {
  @extend .card-body;
}

.module-days {
  border-bottom: $border $border-color;
  border-top: $border $border-color;
  margin-bottom: 0;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  .module-day,
  .module-event {
    margin: 0;
    padding: $sp-2;

    @include mq(sm) {
      padding: $sp-2 $sp-4;
    }

    &.main {
      border-top: $border $border-color;

      &:first-of-type {
        border-top: none;
      }
    }

    p {
      display: inline-block;
      margin: 0;
      width: 100%;

      @include mq(sm) {
        width: 82%;
      }

      +p {
        width: auto;
      }
    }

    a {
      white-space: normal;
    }
  }

  .module-day {
    grid-column-start: 1;
  }

  .module-event {
    grid-column-start: 2;

    +.module-event {
      padding-top: 0;
    }

    .label-lecture { background-color: #ECEBED; text-align: center; border-radius: 6px; width: 60px; }
    .label-hw { background-color: #0072B2; color: #FFFFFF !important; text-align: center; border-radius: 6px; width: 60px; }
    .label-lab { background-color: #9C5700; color: #FFFFFF !important; text-align: center; border-radius: 6px; width: 60px; }
    .label-quiz { background-color: #007A59; color: #FFFFFF !important; text-align: center; border-radius: 6px; width: 60px; }
    .label-exam { background-color: #984F7B; color: #FFFFFF !important; text-align: center; border-radius: 6px; width: 60px; }
    .label-survey { background-color: #C2185B; color: #FFFFFF !important; text-align: center; border-radius: 6px; width: 60px; }
    .label-review { background-color: #779fcd; text-align: center; border-radius: 6px; width: 60px; }

    // .label-vit { background-color: #c1443c; text-align: center; border-radius: 9px; }
    // .label-live { background-color: #63c082; text-align: center; border-radius: 9px; }
    // .label-ghost { background-color: #ffffff; width: 30px; text-align: center; border-radius: 9px; }

  }

}

.text-grey-dk-100, .label-lecture {
    color: #5c5962 !important;
}

// .main-content dt, .main-content dd { margin: 0.25em 0; }
// .main-content dt { grid-column: 1; font-weight: 500; text-align: right; }
// .main-content dt::after { content: ":"; }
// .main-content dd { grid-column: 2; margin-bottom: 0; margin-left: 1em; }
// .main-content dd blockquote:first-child, .main-content dd div:first-child, .main-content dd dl:first-child, .main-content dd dt:first-child, .main-content dd h1:first-child, .main-content dd h2:first-child, .main-content dd h3:first-child, .main-content dd h4:first-child, .main-content dd h5:first-child, .main-content dd h6:first-child, .main-content dd li:first-child, .main-content dd ol:first-child, .main-content dd p:first-child, .main-content dd pre:first-child, .main-content dd table:first-child, .main-content dd ul:first-child, .main-content dd .table-wrapper:first-child { margin-top: 0; }
// .main-content dd dl:first-child dt:first-child, .main-content dd dl:first-child dd:nth-child(2), .main-content ol dl:first-child dt:first-child, .main-content ol dl:first-child dd:nth-child(2), .main-content ul dl:first-child dt:first-child, .main-content ul dl:first-child dd:nth-child(2) { margin-top: 0; }
